<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="cardHistory">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Shirel Kadosh</span>
            <span class="md-subhead">30 Posts</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="images/Icon-user.png">
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary">Edit</md-button>
        <md-button class="md-primary">Chat</md-button>
    </md-card-actions>
</md-card>