<md-card md-theme="{{ 'dark-purple' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Name: {{slideItem.name}}</span>
            <span class="md-subhead">Cost: {{slideItem.price}}$</span>
            <span class="md-subhead">Views: {{slideItem.views}}</span>
            <span class="md-subhead">Start Date: {{slideItem.date}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout-align="end center">
        <md-button class="md-primary">Connect</md-button>
    </md-card-actions>
</md-card>