<div ng-controller="autoCtrl as ctrl" layout="column" ng-cloak id="auto">
    <form ng-submit="$event.preventDefault()">
        <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display" md-min-length="0" placeholder="Choose a category">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                No categories matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
            </md-not-found>
        </md-autocomplete>
        <br/>
    </form>
</div>
<jk-carousel data="arrayData" item-template-url="'views/item-template.html'" max-width="700" max-height="400" auto-slide="true"
    auto-slide-time="5000">
</jk-carousel>
<div ng-repeat="element in arrayData" id="history">
    <md-card md-theme="{{ 'dark-purple' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Name: {{element.name}}</span>
                <span class="md-subhead">Cost: {{element.price}}$</span>
                <span class="md-subhead">Views: {{element.views}}</span>
                <span class="md-subhead">Start Date: {{element.date}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout-align="end center">
            <md-button class="md-primary">Connect</md-button>
        </md-card-actions>
    </md-card>
</div>