body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
    background-color: #d5d7da !important;
}

.logo-image{
    height: 80%;
    width: 8%;
    margin-left: 5%;
    margin-top: 1%;
}

.md-toolbar-tools{
    margin-left: 80%; 
}